html, body {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

@font-face {
  font-family: 'Heavitas';
  src: url('Heavitas-nR1gO.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.coin img {
    width: 50px;
    height: 50px;
}
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heavitas', sans-serif;
    flex: 1;
    font-size: 1rem;
    background-image: url('image.png'); 
    background-size: cover; 
    background-position: center;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 90%; 
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  transition: all 0.3s ease; 
}

header, footer {
  width: 100%; 
  margin: 0 auto;
  padding: 0; 
}

.header-title {
  font-family: 'Heavitas', sans-serif;
  font-size: 2.5rem; 
  font-weight: bold;
  color: #344034; 
}

.header-top {
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.header-bottom {
  background-color: white;
  padding: 30px 0;
  border-bottom: 1px solid #dee2e6;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 75px;      
  height: 75px;        
  padding: 4px;        
}

.header-bottom form {
  max-width: 450px;
  max-height: 100px;
  width: 100%;
}

.table {
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  transition: all 0.3s ease;
  table-layout: auto; 
  font-size: 1rem; 
}

footer {
  width: 100%;
  position: relative;
  margin: 0px;
  background-color: #f8f9fa;
  color: #343a40;
  margin-top: auto;
}


footer.top {
  display: grid;
  padding-bottom: 40px;
  border-bottom: 1px solid #dee2e6;
  background-color: #f8f9fa; 
  
}

footer.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  
  
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

footer.top p {
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
}

footer.bottom p {
  margin: 0;
}

footer.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 56px;
}

footer.top .socials > a {
  font-size: 35px;
}

.copyright {
  font-size: 13px;
}

@media (min-width: 1200px) {
  .container {
      width: 90%; 
      padding: 30px; 
  }

  .table {
      font-size: 1.2rem; 
  }
}

@media (max-width: 1200px) {
  .container {
      width: 90%; 
      padding: 30px; 
  }

  .table {
      font-size: 0.9rem; 
  }
}

@media (max-width: 1000px) {
  .container {
      width: 95%;
      padding: 10px;
      overflow-x: hidden;
  }

  .table {
    font-size: 0.8rem;
  }

  .header-title {
    font-size: 1rem; 
    
  }
  
  .header-bottom {
      padding: 5px 0; 
  }

  .table th:nth-child(1),
  .table td:nth-child(1),
  .table th:nth-child(2),
  .table td:nth-child(2),
  .table th:nth-child(3),
  .table td:nth-child(3),
  .table th:nth-child(4),
  .table td:nth-child(4)
   {
      display: table-cell; 
  }

  .table th:nth-child(5),
  .table td:nth-child(5),
  .table th:nth-child(6),
  .table td:nth-child(6),
  .table th:nth-child(7),
  .table td:nth-child(7){
      display: none; 
  }

  .table {
      font-size: 0.55rem; 
      width: 95%;
      border-collapse: collapse;
  }

  footer.bottom {
      padding: 10px 0;
      font-size: 0.85rem;
  }
}















